<%- include ("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/likes.css"/>
</head>
<%- include ("./partials/header.ejs") %>
<main>
    <ul>
        <% data.forEach(favourite => { %>
            <% for (let i = 0; i < favourite.length; i++) { %>
                <li>
                    <img src="images/hotspots/<%- favourite[i].image%>" alt="picture of <%- favourite[i].name%> ">
                    <p><%- favourite[i].name%></p>
                    <form action="/deleteHotspot" method="post">
                        <input type="hidden" id=<%- favourite[i].slug %> name="deleteBtn" value=<%- favourite[i].slug %>>
                        <input name="deleteBtn" type="submit" value=<%- favourite[i].name%>>
                    </form>
                </li>
            <% } %>
        <% }) %>
    </ul>
</main>
<%- include ("./partials/footer.ejs") %>