<%- include ("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/likes.css" />
</head>
<%- include ("./partials/header.ejs") %>
<main>
    <ul>
        <% data.forEach(favourite => { %>

        <li>
            <img src="images/hotspots/<%- favourite.image%>" alt="picture of <%- favourite.name%> ">
            <p><%- favourite.name%></p>
            <form action="/deleteHotspot" method="post">
                <input type="hidden" id=<%- favourite.name %> name="deleteFav" value=<%- favourite.name %>>
                <input name="deleteBtn" type="submit" value="Delete">
            </form>
        </li>
        <% }) %>
    </ul>
</main>
<%- include ("./partials/footer.ejs") %>