<%- include ("./partials/head.ejs") %>
    <ul>
        <% hotspotsResults.forEach(results => { %>
            <% for (let i = 0; i < results.length; i++) { %>
                <li>
                    <img src="/images/hotspots/<%- results[i].city_imageUrl%>" alt="picture of <%- results.city_name %> ">
                    <p><%- results[i].city_name %></p>
                    <p><%- results[i].description %></p>
                </li>
            <% } %>
        <% }) %>
    </ul>

<%- include ("./partials/footer.ejs") %>