<%- include ("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/results.css"/>
 </head>
<!-- <header>
    <a href="/logout">Log out</a>
    <a href="/likes">Link naar favorieten</a>
</header> -->
<%- include ("./partials/header.ejs") %>
<main>
    <ul>
        <% hotspotsResults.forEach(results => { %>
        <% for (let i = 0; i < results.length; i++) { %>
        <li>
            <article>
                <img src="/images/hotspots/<%- results[i].city_imageUrl%>" alt="picture of <%- results.city_name %> ">
                <p><%- results[i].city_name %></p>
                <p><%- results[i].description %></p>
                <form action="/addSpot" class="addSpot" method="post">
                    <input type="hidden" id=<%- results[i].city_imageUrl %> name="city_imageUrl" value=<%- results[i].city_imageUrl %>>
                    <input type="hidden" id=<%- results[i].city_name %> name="city_name" value=<%- results[i].city_name %>>
                    <input type="hidden" id=<%- results[i].description %> name="description" value=<%- JSON.stringify(results[i].description) %>>
                    <input type="submit" name="submit-spot" class="submit-spot" value="Voeg spot aan favorieten">
                    <label for="submit-spot" class="submit-spot-label">Spot is toegevoegd aan favorieten!</label>
                </form>
            </article>
            <div>
                <p>Reviews</p>
                <ul>
                    <% const review = data.filter(reviews => results[i].category === reviews.category) %>
                    <% const firstThreeReviews = review.slice(-3); %>
                    <% firstThreeReviews.forEach((data) => { %>
                        <li>
                            <h2><%= data.name %></h2>
                            <p><%= data.review %></p>
                        </li>
                    <% }) %>
                </ul>
                <form action="/review" class="review" method="post">
                    <input type="text" name="name" value=<%- username %> required />
                    <textarea type="text" name="review" placeholder="Schrijf een review!" required></textarea>
                    <input type="hidden" id=<%- results[i].category %> name="category" value=<%- results[i].category %>>
                    <input class="review-submit" name="review-submit" type="submit" value="Verstuur" />
                    <label for="review-submit" class="submit-review-label">Review is toegevoegd!</label>
                </form>
            </div>
        </li>
        <% } %>
        <% }) %>
    </ul>
    <article id="submit-text">
        <span id="submit-text-return">&#10060;</span>
        <p>Your review is submitted!</p>
    </article>
    <article id="submit-favourite">
        <span id="submit-favourite-return">&#10060;</span>
        <p>Your selection has been added to favourites!</p>
    </article>
</main>
<script src="/js/review.js"></script>
<%- include ("./partials/footer.ejs") %>