<%- include ("./partials/head.ejs") %>
    <ul>
        <% hotspotsResults.forEach(results => { %>
        <li>
            <img src="/images/hotspots/<%- results.city_imageUrl%>" alt="picture of <%- results.city_name %> ">
            <p><%- results.city_name %></p>
            <p><%- results.description %></p>
        </li>
        <% }) %>
    </ul>

<%- include ("./partials/footer.ejs") %>